body {
  background-color: #f2e9e4;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
.calculator-grid {
  box-shadow: 3px 3px 5px rgb(0 0 0 / 15%);
  flex-direction: column;
  justify-content: start;
  width: 500px;
  min-height: 430px;
  background: #fef3eb;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 10px;
}

.calc__btns-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.4rem;
  gap: 2.4rem;
  padding: 1.8rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.output {
  grid-column: 1 / -1;
  background-color: #4a4e69;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
  position: absolute;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
  position: absolute;
  top: 160px;
}
.span-two {
  grid-column: span 2;
}
.btn-principal {
  cursor: pointer;
  border: none;
  background: #c3c6d5;
  color: #22223b;
  padding: 1.5em 2rem;
  border-radius: 8rem;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.btn-principal:hover {
  background-color: #d8d8d8;
}
.btn-operator {
  cursor: pointer;
  border: none;
  background: #ffb685;
  color: #fff;
  padding: 1.5em 2rem;
  border-radius: 8rem;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.btn-operator:hover {
  background: #fff;
  color: #ffb685;
}
.btn-number {
  cursor: pointer;
  border: none;
  background: #4a4e69;
  color: #fff;
  padding: 1.5em 2rem;
  border-radius: 8rem;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.btn-number:hover {
  background-color: #787fac;
}
